options.mk

*.cnf
!ca.template.cnf
!csr.template.cnf

*.conf.out
*.crt
*.csr
*.key
ca.db.index
ca.db.index.attr
ca.db.index.attr.old
ca.db.index.old
ca.db.serial
ca.db.serial.old
ca_conf.out
*_ecparam.pem
*.conf.out
newcerts/
