FQDN = my.dns

[ req ]
default_bits            = 4096
distinguished_name      = req_distinguished_name
utf8 = yes
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
countryName                     = FI
localityName                    = City
organizationName                = MyCompany
commonName                      = $FQDN

[ v3_req ]
basicConstraints = CA:false
subjectAltName = @my_subject_alt_names

[ my_subject_alt_names ]
DNS.1 = $FQDN
